name: CI Pipeline

on:
  pull_request:
     branches:
         - main

jobs:
   build:
      runs-on: ubuntu-latest


      steps:
         - name: Checkout repo
           uses: actions/checkout@v4


         - name: Run basic check
           run: echo "CI Pipeline is working"

